page-parking-slot {
    
    ion-grid{
        margin-top: 50px; 
    }

    .rowz{
        margin-top: -40px;
    }
    .row2{
        margin-top: -50px;
    }
    .row3{
        margin-top: -60px;
    }
    .row4{
        margin-top: -70px;
    }
}
